<div class="row">
    <div class="col-2">
      </div>
    <div class="col-8" style="margin-top:100px;">
        <table>
          <tr>
            <td>
              <img style="float:left;" src="assets/img/pet-home.png">
            </td>
            <td>
              Mussum Ipsum, cacilds vidis litro abertis.
              A ordem dos tratores não altera o pão duris.
              Copo furadis é disculpa de bebadis, arcu quam euismod magna.
              Si num tem leite então bota uma pinga aí cumpadi! Manduma pindureta quium dia nois paga.
              Quem manda na minha terra sou euzis! Em pé sem cair, deitado sem dormir, sentado sem cochilar e fazendo pose.
              Detraxit consequat et quo num tendi nada.
              Praesent vel viverra nisi. Mauris aliquet nunc non turpis scelerisque, eget.
              Admodum accumsan disputationi eu sit. Vide electram sadipscing et per.
              Quem num gosta di mim que vai caçá sua turmis! Casamentiss faiz malandris se pirulitá.
              Viva Forevis aptent taciti sociosqu ad litora torquent.
            </td>
          </tr>
        </table>
      </div>
    <div class="col-2">
  </div>
</div>