
<div class="row" style="background-color:black;">
  <div class="col-2">
    </div>
      <div class="col-8" style="margin-top:30px; margin-bottom:5px;">
            <img src="assets/img/logo-pet.png"/>
            <span style="color:white;">PETSHOP</span>
          <table style="width:100%;">
            <tr>
                <img src="assets/img/home.png"/>
                <th><a href="index.html"><span>Home</span></a></th>
                <th><a href="#">Serviços</a></th>
                <th><a href="#">Produtos</a></th>
                <th><a  href="#">Galeria</a></th>
                <th><a href="#">Contato</a></th>
            </tr>
            <tr>
                <td bgcolor="#FF0000"></td>
                <td bgcolor="blue"></td>
                <td bgcolor="white"></td>
                <td bgcolor="#FF0000"></td>
                <td bgcolor="yellow"></td>
            </tr>
          </table>
        </div>
        <div class="col-2">
          </div>
      </div>
      