
 
  span{
    text-align:center;
  }
  a{
    display:block;
    text-decoration:none;
    color:white
  }
  a:hover{
    text-decoration:none;
    background-color:orange
  }
  .rodape{
      background-color: black;
      bottom: 0;
      position: "relative";
      height: 20px
    }
    