<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" [routerLink]="['/home']">Home</a>
  <button class="navbar-toggler" type="button">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/celulares']">Celulares</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/computadores']">Computadores</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" [routerLink]="['/livros']">Livros</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" [routerLink]="['/monitores']">Monitores</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" [routerLink]="['/tvs']">TVs</a>
      </li>
    </ul>
  </div>
</nav>